// * Paleta de colores
$marino: #2E3192;
$celeste: #00AAE2;
$naranja: #EF8122;
$amarillo: #FAE906;
$blanco: #F8FBFF;
$oscuro: #1D1E1E;
$morado: #7028DD;
$rosa: #F523CE;


// * Tipografías
@font-face {
    font-family: 'commissioner';
    src: url('../fonts/Commissioner.ttf');
}

@font-face {
    font-family: 'fugaz';
    src: url('../fonts/FugazOne-Regular.ttf');
}

@mixin centrado{
    justify-content: center;
    align-items: center;
}

@mixin sombra{
    box-shadow: 0 4px 4px rgba(46, 49,146,.5);
}

@mixin icon-s{
    width: 40px;
    height: 40px;
}

@mixin texto-blanco{
    color: $blanco;
}


  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }