@font-face {
  font-family: "commissioner";
  src: url("../fonts/Commissioner.ttf");
}
@font-face {
  font-family: "fugaz";
  src: url("../fonts/FugazOne-Regular.ttf");
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
body {
  background-color: #F8FBFF;
  margin: 0;
  min-width: 400px;
  font-family: "commissioner";
}

.app-navbar ul {
  display: flex;
  flex-direction: row;
  border-bottom: solid #2E3192;
  align-items: center;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.titulo-app {
  font-size: larger;
  font-family: "fugaz";
}

.acciones-admin {
  justify-self: center;
  align-content: center;
  justify-content: center;
  display: grid;
}

.btn-admin {
  justify-content: space-around;
  min-width: 300px;
  padding: 1rem;
  margin: 1rem;
  background-color: #F8FBFF;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color);
  border: solid 3px var(--color);
  box-shadow: 0 4px 4px rgba(46, 49, 146, 0.5);
}

.btn-admin:hover {
  background-color: var(--color);
  color: #F8FBFF;
  cursor: pointer;
  transform: scale(0.95) rotate(-1deg);
  transition: 0.5s;
}

.btn-admin:hover svg path {
  fill: #F8FBFF;
}

.titulo-seccion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  color: #2E3192;
}

.fila-alumno {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  display: flex;
}

.ficha-alumno {
  white-space: break-spaces;
  padding: 0 0.5rem;
  border: solid 3px #00AAE2;
  border-radius: 5px;
  width: 65%;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.columna-1-2 {
  align-content: space-around;
  container: grid;
  grid-template-columns: auto;
  display: grid;
}

.btn-texto {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1rem;
  background-color: #F8FBFF;
  border: none;
  color: var(--color);
}

.btn-texto:hover {
  color: #00AAE2;
  cursor: pointer;
}

#icon-niveles {
  background-image: url(../images/icons/icon-niveles.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 45px;
  height: auto;
}

#icon-grupo {
  background-image: url(../images/icons/icon-grupo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 45px;
  height: auto;
}

#barra-busqueda {
  border: none;
  background-color: rgba(184, 210, 219, 0.5);
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Queda fijo en la pantalla */
  z-index: 1; /* Se coloca por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Permite scroll si el contenido es largo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo con transparencia */
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 2px #2E3192;
}

.close {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.modal-content {
  background-color: #F8FBFF;
  margin: 15% auto;
  padding: 1.5rem;
  border: 3px solid #2E3192;
  border-radius: 10px;
  width: 50%;
  color: #2E3192;
  font-weight: 600;
}

.input-doble {
  display: flex;
}

.status-inactivo {
  color: red;
}

.status-activo {
  color: rgb(97, 161, 0);
}

.btns-doble {
  display: flex;
  justify-content: space-around;
}

.contenido-card {
  border: solid 3px #2E3192;
  border-radius: 10px;
  margin: 2rem 3rem;
}

.card-encabezado {
  border-bottom: solid 2px #2E3192;
}

.titulo-card {
  color: #2E3192;
  font-weight: 600;
  text-align: center;
}

.card-cuerpo {
  padding: 1rem;
}

.card-cuerpo textarea {
  background-color: #F8FBFF;
  border: none;
}

.ficha-anuncio {
  padding: 0.5rem;
  border: solid 2px #EF8122;
  border-radius: 10px;
}

.titulo-anuncio {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 400px) {
  .btns-doble {
    flex-direction: column;
  }
}
@media (max-width: 810px) {
  .input-doble {
    flex-direction: column;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
}
@media (min-width: 500px) and (max-width: 959px) {
  .seccion-app {
    padding: 1rem;
  }
  .acciones-admin {
    grid-template-columns: auto;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
  .btns-doble {
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .seccion-app {
    padding: 1rem 4rem;
  }
  .columna-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btns-doble {
    justify-content: space-around;
  }
  .acciones-admin {
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=app.css.map */