// * Variables de color, tipografías y animaciones
@import "variables";

body {
  background-color: $blanco;
  margin: 0;
  min-width: 300px;
  font-family: "commissioner";
}

.app-navbar ul {
  display: flex;
  flex-direction: row;
  border-bottom: solid $marino;
  align-items: center;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  @include sombra-2;
}

.app-navbar-lateral {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-radius: 0;
  left: 0;
  background-color: $blanco;
  @include sombra-2;
}

.app-navbar-lateral ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: none;
}

.navbar-item-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $marino;
  font-weight: 600;
  font-size: xx-small;
  transform: scale(1);
  transition: 0.5s;
  text-decoration: none;
}

.navbar-item-lateral a {
  text-decoration: none;
  color: $marino;
  margin: 0 ;
}

.navbar-item-lateral:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navbar-item-lateral:hover a {
  transition: 0.5s;
  color: $celeste;
}
.navbar-item-lateral:hover svg path {
  transition: 0.5s;
  fill: $celeste;
}

.navbar-item-active,
.navbar-item-active svg path {
  color: $naranja;
  fill: $naranja;
}

.navbar-item-active:hover {
  transform: none;
  color: $naranja;
  cursor: default;
}

.navbar-item-active:hover svg path {
  fill: $naranja;
}

.titulo-app {
  font-size: 1.5rem;
  font-family: "fugaz";
}

.acciones-admin {
  justify-self: center;
  align-content: center;
  justify-content: center;
  display: grid;
}

.btn-admin {
  justify-content: space-around;
  min-width: 300px;
  padding: 1rem;
  margin: 1rem;
  background-color: $blanco;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color);
  border: solid 3px var(--color);
  @include btn-animacion-regreso;
  @include sombra;
}

.btn-admin:hover {
  background-color: var(--color);
  color: $blanco;
  cursor: pointer;
  @include btn-animacion;
}

.btn-admin:hover svg path {
  fill: $blanco;
}

.titulo-seccion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  align-content: center;
  color: $marino;
}

.fila-alumno {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  display: flex;
}

.ficha-alumno {
  white-space: break-spaces;
  padding: 0 0.5rem;
  border: solid 3px $celeste;
  border-radius: 5px;
  width: 50%;
  @include sombra-2;
}

.columna-1-2 {
  align-content: space-around;
  container: grid;
  grid-template-columns: auto;
  display: grid;
}

.btn-texto {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1rem;
  background-color: transparent;
  border: none;
  color: var(--color);
  transform: scale(1);
  transition: 1s;
}

.btn-texto:hover {
  color: $celeste;
  transform: scale(1.03);
  transition: 1s;
  cursor: pointer;
}

.btn-texto:disabled,
.btn-texto:disabled:hover {
  color: gray;
  transform: none;
  cursor: not-allowed;
}

#barra-busqueda {
  border: none;
  background-color: rgba($color: #b8d2db, $alpha: 0.5);
}

dialog {
  position: fixed;

  overflow: auto; /* Permite scroll si el contenido es largo */
  height: 90vh;
}

.modal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 2px $marino;
}

.close {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.modal-content {
  background-color: $blanco;
  margin: 5% auto;
  padding: 1.5rem;
  border: 3px solid $marino;
  border-radius: 10px;
  width: 50%;
  color: $marino;
  font-weight: 600;
}

.borde-tabla {
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid #2e3192;
  margin: 0 1rem 1rem 0;
}

.video-contenido{
  width: 30%;
  height: 30%;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.input-doble {
  display: flex;
}

.status-inactivo {
  color: red;
}

.status-activo {
  color: rgb(97, 161, 0);
}

.btns-doble {
  display: flex;
  justify-content: space-around;
}

// * Contenido Admin
.contenido-card {
  border: solid 3px $marino;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.card-encabezado {
  border-bottom: solid 2px $marino;
}

.titulo-card {
  color: $marino;
  font-weight: 600;
  text-align: center;
}

.card-cuerpo {
  padding: 1rem;
}

.card-cuerpo textarea {
  background-color: $blanco;
  border: none;
}

//*  ANUNCIOS

.ficha-anuncio {
  padding: 0.5rem 1rem;
  border: solid 2px $naranja;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  transform: scale(1);
  transition: 0.8s;
  @include sombra-2;
}

.anuncio-contenido {
  text-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.ficha-anuncio:hover {
  transform: scale(1.02);
  transition: 0.8s;
  cursor: pointer;
}

.titulo-anuncio {
  font-family: "fugaz";
  font-size: large;
  color: $marino;
  display: flex;
  text-overflow: clip;
  white-space: break-spaces;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.fecha-anuncio {
  font-size: small;
  font-family: "commissioner";
  text-align: end;
}

.fechas-anuncio-detalle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(43, 41, 70, 0.217);
}

.anuncio-general {
  background-color: $marino;
  color: $blanco;
  @include tipo-anuncio;
}

.anuncio-bolsa {
  background-color: $amarillo;
  color: $marino;
  @include tipo-anuncio;
}

.anuncio-promo {
  background-color: $celeste;
  color: $blanco;
  @include tipo-anuncio;
}

#titulo-anuncio {
  white-space: break-spaces;
  margin-right: 2rem;
  padding: 0;
}

#detalle-anuncio {
  justify-content: center;
}

.texto-gris {
  font-size: small;
  color: #474c4e;
}

.imagen-anuncio {
  height: 50vh;
  width: 50vh;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  @include sombra-2;
}

.imagen-anuncio-hover {
  opacity: 0;
  background-color: #135eb465;
  width: 50vh;
  height: 50vh;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 5px;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}

#contenedor-imagen-anuncio {
  border: solid 1px $celeste;
  border-radius: 5px;
  position: relative;
  width: 50vh;
  height: 50vh;
}

#contenedor-imagen-anuncio:hover .imagen-anuncio-hover {
  opacity: 1;
  transition: 0.5s ease;
}

.fila-horario {
  margin-bottom: 1rem;
  min-width: min-content;
  padding: 1rem;
  @include sombra-2;
  border-radius: 10px;
  display: grid;
}

.fila-horario input {
  margin-right: 1rem;
}

.fila-a-columna {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  ul {
    padding: 0;
    margin: 0 1rem;
    text-overflow: ellipsis;
    white-space: break-spaces;
  }
}

.columna-a-fila {
  display: flex;
  justify-content: space-around;
}

.dato{
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-style: hidden;
  width: 100%;
  height: 100%;
  @include sombra-2;
}

th,
td {
  padding: 10px;
  border: 2px solid $marino;
  text-align: center;
}

tr:hover {
  background-color: rgba($color: $marino, $alpha: 0.2);
}
#tr-no:hover {
  background-color: transparent;
}

@media (max-width: 400px) {
  .btns-doble {
    flex-direction: column;
  }
  .fila-horario {
    grid-template-columns: 1fr;
  }
  .seccion-app {
    padding: 1rem;
  }
  .columna-a-fila {
    flex-direction: column;
  }
  .app-navbar-lateral{
    bottom: 0;
  }
}

@media (max-width: 810px) {
  .input-doble {
    flex-direction: column;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
  .fecha-anuncio {
    text-align: left;
  }
  .fechas-anuncio-detalle {
    display: flex;
    flex-direction: column;
  }
  .titulo-anuncio {
    flex-direction: column;
    align-items: baseline;
  }
  #titulo-anuncio {
    text-align: start;
    align-self: baseline;
  }
  .anuncio-promo,
  .anuncio-bolsa,
  .anuncio-general {
    align-self: baseline;
    margin-top: 0;
  }
  .titulo-app {
    font-size: 1rem;
  }
  .titulo-seccion-anuncios {
    flex-direction: column;
  }
  .btns-doble {
    flex-direction: column-reverse;
  }
  .fila-horario {
    grid-template-columns: 1fr;
  }
  .seccion-app {
    padding: 1rem;
  }
  .app-navbar-lateral{
    bottom: 0;
  }
}

// * Tamaño mínimo para celulares
@media (min-width: 500px) and (max-width: 959px) {
  .seccion-app {
    padding: 1rem 3rem;
  }
  .acciones-admin {
    grid-template-columns: auto;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
  .navbar-item-lateral {
    margin: 0 1rem;
  }
  .fila-horario {
    grid-template-columns: 1fr auto auto;
  }
  .app-navbar-lateral{
    bottom: 0;
  }
}

// * Tamaño mínimo para tablets/laptops en modo landscape
@media (min-width: 960px) {
  .seccion-app {
    padding: 1rem 12rem;
  }
  .columna-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btns-doble {
    justify-content: space-around;
  }
  .acciones-admin {
    grid-template-columns: auto auto;
  }
  .app-navbar-lateral {
    width: auto;
    left: 10px;
    top: 20%;
    background-color: $blanco;
    border-radius: 100px;
  }
  .app-navbar-lateral ul {
    flex-direction: column;
    list-style-type: none;
    padding:  0;
  }

  .navbar-item-lateral {
    flex-direction: column;
    margin: 0.3rem;
  }

  .fila-horario {
    grid-template-columns: 1fr auto auto;
  }
}
