@font-face {
  font-family: "commissioner";
  src: url("../fonts/Commissioner.ttf");
}
@font-face {
  font-family: "fugaz";
  src: url("../fonts/FugazOne-Regular.ttf");
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
#icon-niveles {
  background-image: url(../images/icons/icon-niveles.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 30px;
  height: auto;
}

#icon-grupo {
  background-image: url(../images/icons/icon-grupo.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 45px;
  height: auto;
}

#icon-anuncio {
  background-image: url(../images/icons/icon-anuncios.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 45px;
  height: auto;
}

#icon-contenido {
  background-image: url(../images/icons/icon-contenido.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
  width: 45px;
  height: auto;
}

body {
  background-color: #f8fbff;
  margin: 0;
  min-width: 300px;
  font-family: "commissioner";
}

.app-navbar ul {
  display: flex;
  flex-direction: row;
  border-bottom: solid #2e3192;
  align-items: center;
  margin: 0;
  padding: 1rem;
  justify-content: space-between;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.app-navbar-lateral {
  position: fixed;
  z-index: 1;
  width: 100%;
  border-radius: 0;
  left: 0;
  top: 83%;
  background-color: #f8fbff;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.app-navbar-lateral ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0.5rem 0;
  text-decoration: none;
}

.navbar-item-lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2e3192;
  font-weight: 600;
  font-size: x-small;
  margin: 0.5rem;
  transform: scale(1);
  transition: 0.5s;
  text-decoration: none;
}

.navbar-item-lateral a {
  text-decoration: none;
  color: #2e3192;
  margin: 0 0 0.5rem 0;
}

.navbar-item-lateral:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar-item-lateral:hover a {
  transition: 0.5s;
  color: #00aae2;
}

.navbar-item-lateral:hover svg path {
  transition: 0.5s;
  fill: #00aae2;
}

.navbar-item-active,
.navbar-item-active svg path {
  color: #ef8122;
  fill: #ef8122;
}

.navbar-item-active:hover {
  transform: none;
  color: #ef8122;
  cursor: default;
}

.navbar-item-active:hover svg path {
  fill: #ef8122;
}

.titulo-app {
  font-size: 1.5rem;
  font-family: "fugaz";
}

.acciones-admin {
  justify-self: center;
  align-content: center;
  justify-content: center;
  display: grid;
}

.btn-admin {
  justify-content: space-around;
  min-width: 300px;
  padding: 1rem;
  margin: 1rem;
  background-color: #f8fbff;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color);
  border: solid 3px var(--color);
  transform: scale(1) rotate(0);
  transition: 0.5s;
  box-shadow: 0 4px 4px rgba(46, 49, 146, 0.5);
}

.btn-admin:hover {
  background-color: var(--color);
  color: #f8fbff;
  cursor: pointer;
  transform: scale(0.95) rotate(-1deg);
  transition: 0.5s;
}

.btn-admin:hover svg path {
  fill: #f8fbff;
}

.titulo-seccion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 700;
  align-items: center;
  align-content: center;
  color: #2e3192;
}

.fila-alumno {
  margin-top: 1rem;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  display: flex;
}

.ficha-alumno {
  white-space: break-spaces;
  padding: 0 0.5rem;
  border: solid 3px #00aae2;
  border-radius: 5px;
  width: 50%;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.columna-1-2 {
  align-content: space-around;
  container: grid;
  grid-template-columns: auto;
  display: grid;
}

.btn-texto {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 1rem;
  background-color: #f8fbff;
  border: none;
  color: var(--color);
}

.btn-texto:hover {
  color: #00aae2;
  transform: scale(1.03);
  transition: 1s;
  cursor: pointer;
}

.btn-texto:disabled, .btn-texto:disabled:hover {
  color: gray;
  transform: none;
  cursor: not-allowed;
}

#barra-busqueda {
  border: none;
  background-color: rgba(184, 210, 219, 0.5);
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed; /* Queda fijo en la pantalla */
  z-index: 1; /* Se coloca por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Alto completo */
  overflow: auto; /* Permite scroll si el contenido es largo */
  background-color: rgb(0, 0, 0); /* Color de fondo */
  background-color: rgba(0, 0, 0, 0.4); /* Color de fondo con transparencia */
}

.modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: solid 2px #2e3192;
}

.close {
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

.modal-content {
  background-color: #f8fbff;
  margin: 5% auto;
  padding: 1.5rem;
  border: 3px solid #2e3192;
  border-radius: 10px;
  width: 50%;
  color: #2e3192;
  font-weight: 600;
}

.input-doble {
  display: flex;
}

.status-inactivo {
  color: red;
}

.status-activo {
  color: rgb(97, 161, 0);
}

.btns-doble {
  display: flex;
  justify-content: space-around;
}

.contenido-card {
  border: solid 3px #2e3192;
  border-radius: 10px;
  margin: 0 3rem 2rem 3rem;
}

.card-encabezado {
  border-bottom: solid 2px #2e3192;
}

.titulo-card {
  color: #2e3192;
  font-weight: 600;
  text-align: center;
}

.card-cuerpo {
  padding: 1rem;
}

.card-cuerpo textarea {
  background-color: #f8fbff;
  border: none;
}

.ficha-anuncio {
  padding: 0.5rem 1rem;
  border: solid 2px #ef8122;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  transform: scale(1);
  transition: 0.8s;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.anuncio-contenido {
  text-wrap: wrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.ficha-anuncio:hover {
  transform: scale(1.02);
  transition: 0.8s;
  cursor: pointer;
}

.titulo-anuncio {
  font-family: "fugaz";
  font-size: large;
  color: #2e3192;
  display: flex;
  text-overflow: clip;
  white-space: break-spaces;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.fecha-anuncio {
  font-size: small;
  font-family: "commissioner";
  text-align: end;
}

.fechas-anuncio-detalle {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgba(43, 41, 70, 0.217);
}

.anuncio-general {
  background-color: #2e3192;
  color: #f8fbff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  font-size: smaller;
  border-radius: 100px;
  margin: 1rem 0;
  text-align: center;
}

.anuncio-bolsa {
  background-color: #fae906;
  color: #2e3192;
  font-weight: 600;
  padding: 0.5rem 2rem;
  font-size: smaller;
  border-radius: 100px;
  margin: 1rem 0;
  text-align: center;
}

.anuncio-promo {
  background-color: #00aae2;
  color: #f8fbff;
  font-weight: 600;
  padding: 0.5rem 2rem;
  font-size: smaller;
  border-radius: 100px;
  margin: 1rem 0;
  text-align: center;
}

#titulo-anuncio {
  white-space: break-spaces;
  margin-right: 2rem;
  padding: 0;
}

#detalle-anuncio {
  justify-content: center;
}

.texto-gris {
  font-size: small;
  color: #474c4e;
}

.imagen-anuncio {
  height: 50vh;
  width: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(46, 49, 146, 0.3);
}

.imagen-anuncio-hover {
  opacity: 0;
  background-color: rgba(19, 94, 180, 0.3960784314);
  width: 50vh;
  height: 50vh;
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 5px;
  justify-items: center;
  align-content: center;
  cursor: pointer;
}

#contenedor-imagen-anuncio {
  border: solid 1px #00aae2;
  border-radius: 5px;
  position: relative;
  width: 50vh;
  height: 50vh;
}

#contenedor-imagen-anuncio:hover .imagen-anuncio-hover {
  opacity: 1;
  transition: 0.5s ease;
}

@media (max-width: 400px) {
  .btns-doble {
    flex-direction: column;
  }
}
@media (max-width: 810px) {
  .input-doble {
    flex-direction: column;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
  .fecha-anuncio {
    text-align: left;
  }
  .fechas-anuncio-detalle {
    display: flex;
    flex-direction: column;
  }
  .titulo-anuncio {
    flex-direction: column;
    align-items: baseline;
  }
  #titulo-anuncio {
    text-align: start;
    align-self: baseline;
  }
  .anuncio-promo,
  .anuncio-bolsa,
  .anuncio-general {
    align-self: baseline;
    margin-top: 0;
  }
  .titulo-app {
    font-size: 1rem;
  }
  .titulo-seccion-anuncios {
    flex-direction: column;
  }
  .btns-doble {
    flex-direction: column-reverse;
  }
}
@media (min-width: 500px) and (max-width: 959px) {
  .seccion-app {
    padding: 1rem;
  }
  .acciones-admin {
    grid-template-columns: auto;
  }
  .columna-1-2 {
    display: grid;
    grid-template-columns: auto;
  }
  .navbar-item-lateral {
    margin: 0 1rem;
  }
}
@media (min-width: 960px) {
  .seccion-app {
    padding: 1rem 8rem;
  }
  .columna-1-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btns-doble {
    justify-content: space-around;
  }
  .acciones-admin {
    grid-template-columns: auto auto;
  }
  .app-navbar-lateral {
    width: auto;
    left: 10px;
    top: 25%;
    background-color: #f8fbff;
    border-radius: 100px;
  }
  .app-navbar-lateral ul {
    flex-direction: column;
    list-style-type: none;
    padding: 0.5rem 0;
  }
  .navbar-item-lateral {
    flex-direction: column;
    margin: 0.5rem;
  }
}/*# sourceMappingURL=app.css.map */