@font-face {
  font-family: "commissioner";
  src: url("../fonts/Commissioner.ttf");
}
@font-face {
  font-family: "fugaz";
  src: url("../fonts/FugazOne-Regular.ttf");
}
@keyframes gradiente-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.landing {
  font-family: "commissioner";
  display: grid;
  margin: 0;
  background-image: repeating-linear-gradient(270deg, #00AAE2, #2E3192);
  background-size: 200%, 180%;
  animation: gradiente-animation 12s ease infinite;
  -webkit-animation: gradiente-animation 12s ease infinite;
  -moz-animation: gradiente-animation 12s ease infinite;
}

.rep-patron {
  margin: 0;
  background-image: url(../images/patron-cuadrados.svg);
  background-repeat: repeat;
}

#primera-seccion, #segunda-seccion, #tercera-seccion, #cuarta-seccion, #quinta-seccion {
  padding: 0 2em 2em 2em;
  margin-bottom: 2vh;
}

.link-redes {
  font-family: "commissioner";
  display: flex;
  align-content: center;
  margin-bottom: 1em;
}

.titulo-icono {
  font-family: "commissioner";
  display: flex;
  align-content: center;
}

#mision, #vision, #valores {
  border-left: solid 5px #EF8122;
  margin-bottom: 2em;
}

.nivel-item {
  border-radius: 10px;
  border: solid 3px #2E3192;
  position: relative;
  transform: preserve-3d;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.cover {
  border-radius: 10px;
  top: 0;
  position: absolute;
  background-color: #0699D7;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.nivel-item:hover .cover {
  border-radius: 10px;
  transition: all 0.5s;
  transform: rotatey(-90deg);
}

#carousel__slide1, #carousel__slide2, #carousel__slide3, #carousel__slide4, #carousel__slide5 {
  list-style: none;
  width: 100%;
  margin: 0 2rem;
  padding: 0 1rem;
}

.carousel {
  width: 100%;
  height: 60vh;
  position: relative;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: rgba(0, 170, 226, 0.5);
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #0699D7;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -2rem;
  left: 0;
  text-align: center;
  margin-bottom: 1rem;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0;
}

.carousel__navigation-button {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #00AAE2;
  background-clip: content-box;
  border: solid 1px #2E3192;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.img-nivel {
  aspect-ratio: 1/1;
  margin: 0 0 1rem 0;
  height: auto;
  width: 80%;
  border: solid 5px #EF8122;
  border-radius: 100%;
}

.cajita-nivel {
  margin-top: 1rem;
  padding: 0 2rem;
  border: solid 3px;
  border-color: rgb(var(--color));
  border-radius: 100px;
  justify-content: baseline;
  align-items: center;
  background-color: rgba(var(--color), 0.5);
}

.pregunta-wsp {
  padding-right: 0.5rem;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  font-family: "commissioner";
  background-color: #F8FBFF;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
}

@media (min-width: 960px) {
  .carousel__viewport {
    width: 50%;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}/*# sourceMappingURL=landing.css.map */