@font-face {
  font-family: "commissioner";
  src: url("../fonts/Commissioner.ttf");
}
@font-face {
  font-family: "fugaz";
  src: url("../fonts/FugazOne-Regular.ttf");
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
body {
  min-width: 400px;
}

.navbar-landing ul {
  margin: 0;
  padding: 0 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-landing {
  background-color: #F8FBFF;
  padding: 0.5em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-item {
  display: block;
  text-decoration: none;
  align-items: center;
}

#links-menu a {
  text-decoration: none;
  color: #EF8122;
  font-weight: 500;
  display: block;
  padding: 1rem 0.5rem;
}

#links-menu a:hover {
  color: #F8FBFF;
  background-color: #EF8122;
  transition: 0.5s;
}

.icon-s {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.btn {
  font-family: "commissioner";
  font-weight: 500;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  font-size: clamp(1rem, 3vw, 1.5rem);
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 4px rgba(46, 49, 146, 0.5);
  transition: 0.1s;
  padding: 15px;
}

.btn-naranja {
  background-color: #EF8122;
  color: #F8FBFF;
  border: none;
}

.btn-marino {
  background-color: #2E3192;
  color: #F8FBFF;
  border: none;
}

.btn-naranja:hover, .btn-marino:hover {
  background-color: #00AAE2;
  transform: scale(0.95) rotate(-1deg);
  transition: 0.5s;
}

.btn-naranja:active, .btn-marino:active {
  background-color: #2E3192;
  transform: scale(0.9);
  transition: 0.5s;
}

.centrar-v {
  align-content: center;
}

.titulo {
  font-family: "fugaz";
  font-weight: 100;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 0;
  align-self: center;
}

.encabezado {
  font-family: "fugaz";
  font-weight: 100;
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 0;
  align-self: center;
}

.titulo-equipo {
  font-family: "fugaz";
  font-weight: 100;
  font-size: clamp(1rem, 1vw, 1rem);
  margin: 0;
  align-self: center;
}

.parrafo {
  font-weight: 500;
  line-height: 2;
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: start;
  margin-left: 0.5rem;
}

.parrafo-regular {
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: start;
}

.blanco {
  color: #F8FBFF;
}

.naranja {
  color: #EF8122;
}

.marino {
  color: #2E3192;
}

hr {
  height: 2px;
  background-color: #2E3192;
}

footer {
  background-color: #F8FBFF;
  padding: 1rem;
}

#logo-footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

input {
  margin: 0.5rem 0 2rem 0;
  border: 3px solid #EF8122;
  border-radius: 5px;
  font-family: "commissioner";
  padding: 0.5rem;
}

#snackbar-login {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #2E3192;
  color: #F8FBFF;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar-login.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media (min-width: 320px) and (max-width: 959px) {
  .navbar-landing #links-menu {
    display: none;
  }
  #links-menu {
    position: relative;
    background-color: #F8FBFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  #svg-nadador {
    margin: 2rem 0;
  }
}
@media (min-width: 960px) {
  #bars-menu {
    display: none;
  }
  .nabvar-landing {
    padding: 0;
  }
  .navbar-landing #links-menu {
    display: block;
    top: 1vh;
    right: 8%;
    position: absolute;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .col-30 {
    width: 30%;
  }
  .col-60 {
    width: 60%;
  }
  #primera-seccion {
    display: grid;
    justify-content: center;
    align-content: center;
  }
  #svg-nadador {
    scale: 0.5;
    margin-top: 0;
  }
  #mision, #vision, #valores {
    width: 33%;
  }
  #segunda-seccion {
    display: flex;
    flex-direction: row;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
}/*# sourceMappingURL=main.css.map */