// * Variables de color y fuentes
@import 'variables';

.landing{
    display: grid;
    margin: 0;
    background-image: repeating-linear-gradient(270deg, $celeste, $marino);
    background-size: 200%, 180%;
    animation: gradiente-animation 12s ease infinite;
    -webkit-animation: gradiente-animation 12s ease infinite;
    -moz-animation: gradiente-animation 12s ease infinite;
}

.rep-patron{
    margin: 0;
    background-image: url(../images/patron-cuadrados.svg);
    background-repeat: repeat;
}

@keyframes gradiente-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

// Navbar general
.navbar-landing ul{
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.navbar-item{
    display: block;
    text-decoration: none;
    align-items: center;
}

.icon-s{
    justify-content: center;
    align-items: center;
    @include icon-s;
}

.btn-naranja{
    background-color: $naranja;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    @include centrado;
    @include sombra;
}

.titulo{
    font-family: 'fugaz';
    font-weight: 100;
}

.parrafo{
    font-family: 'commissioner';
    line-height: 2;
}

.blanco{
    color: $blanco;
}

// * Secciones
#primera-seccion{
    padding: 0 2em;
}


// * Tamaño mínimo para celulares
@media (min-width: 320px) {
    .navbar-landing{
        background-color: $blanco;
        padding: 1em;
    }

}

// * Tamaño mínimo para tablets/laptops en modo landscape
@media (min-width: 960px){

}

