// * Variables de color, tipografías y animaciones
@import 'variables';

body{
  min-width: 400px;
}

img{
  aspect-ratio: z;
}

// Navbar general
.navbar-landing ul{
    margin: 0;
    padding: 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.navbar-landing{
  background-color: $blanco;
  padding: 1em;
}

.navbar-item{
    display: block;
    text-decoration: none;
    align-items: center;
}

.icon-s{
    justify-content: center;
    align-items: center;
    @include icon-s;
}

.btn-naranja{
    background-color: $naranja;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    @include centrado;
    @include sombra;
}

.centrar-v{
    align-content: center;
}

.titulo{
    font-family: 'fugaz';
    font-weight: 100;
    font-size: clamp(2rem, 6vw, 5rem);
    margin: 0;
    align-self: center;
}

.parrafo{
    font-weight: 500;
    line-height: 2;
    font-size: clamp(1rem, 3vw, 5rem);
    text-align: start;
    margin-left: .5rem;
}
.parrafo-regular{
  font-size: clamp(1rem, 3vw, 5rem);
  text-align: start;
}

.blanco{
    color: $blanco;
}

.naranja{
    color: $naranja;
}

.marino{
    color: $marino;
}

footer{
    background-color: $blanco;
    padding: 1rem;
}

#logo-footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

// * Tamaño mínimo para celulares
@media (min-width: 320px) {

}

// * Tamaño mínimo para tablets/laptops en modo landscape
@media (min-width: 960px){
}

