// * Variables de color, tipografías y animaciones
@import 'variables';

body{
  min-width: 400px;
}


// Navbar general
.navbar-landing ul{
    margin: 0;
    padding: 0 .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.navbar-landing{
  background-color: $blanco;
  padding: .5em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-item{
    display: block;
    text-decoration: none;
    align-items: center;
}

#links-menu a{
    text-decoration: none;
    color: $naranja;
    font-weight: 500;
    display:block;
    padding: 1rem .5rem;
}
#links-menu a:hover{
    color: $blanco;
    background-color: $naranja;
    transition: .5s;
}

.icon-s{
    justify-content: center;
    align-items: center;
    @include icon-s;
}

.btn-naranja{
    background-color: $naranja;
    font-family: 'commissioner';
    font-weight: 500;
    text-decoration: none;
    color: $blanco;
    padding: 15px;
    border: none;
    border-radius: 10px;
    display: flex;
    font-size: clamp(1rem, 3vw, 1.5rem);
    @include centrado;
    @include sombra;
    transition:0.1s;
}

.btn-naranja:hover{
    background-color: $celeste;
    transform: scale(.95) rotate(-1deg);
    transition: .5s;
}

.btn-naranja:active{
    background-color: $marino;
    transform: scale(0.90);
    transition: 0.5s;
}

.centrar-v{
    align-content: center;
}

.titulo{
    font-family: 'fugaz';
    font-weight: 100;
    font-size: clamp(2rem, 3vw, 3rem);
    margin: 0;
    align-self: center;
}

.encabezado{
    font-family: 'fugaz';
    font-weight: 100;
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0;
    align-self: center;
}

.titulo-equipo{
    font-family: 'fugaz';
    font-weight: 100;
    font-size: clamp(1rem, 1vw, 1rem);
    margin: 0;
    align-self: center;
}

.parrafo{
    font-weight: 500;
    line-height: 2;
    font-size: clamp(1rem, 1.5vw, 2rem);
    text-align: start;
    margin-left: .5rem;
}
.parrafo-regular{
  font-size: clamp(1rem, 1.5vw, 2rem);
  text-align: start;
}

.blanco{
    color: $blanco;
}

.naranja{
    color: $naranja;
}

.marino{
    color: $marino;
}

hr{
    height: 2px;
    background-color: $marino;
}

footer{
    background-color: $blanco;
    padding: 1rem;
}

#logo-footer{
    display: flex;
    justify-content: center;
    align-content: center;
}


// * Tamaño mínimo para celulares
@media (min-width: 320px) and (max-width: 959px){
    .navbar-landing #links-menu{
        display: none;
    }
    #links-menu{
        position: relative;
        background-color: $blanco;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    #svg-nadador{
        margin: 2rem 0;
    }
}

// * Tamaño mínimo para tablets/laptops en modo landscape
@media (min-width: 960px){
    #bars-menu{
        display: none;
    }
    .nabvar-landing{
        padding: 0;
    }
    .navbar-landing #links-menu{
        display: block;        
        top: 1vh;
        right: 8%;
        position: absolute;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
    .col-30{
        width: 30%;
    }
    .col-60{
        width: 60%;
    }
    #primera-seccion{
        display: grid;
        justify-content: center;
        align-content: center;
    }
    #svg-nadador{
        scale: .5;
        margin-top: 0;
    }
    #mision, #vision, #valores{
        width: 33%;
    }
    #segunda-seccion{
        display: flex;
        flex-direction: row;
    }
    .container{
        display: grid;
        grid-template-columns: auto auto;
    }
}

